@model IEnumerable<ASPNETAssignment.Models.StoreInventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                Stock Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { storeID=item.StoreID, productID = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { storeID = item.StoreID, productID = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { storeID = item.StoreID, productID = item.ProductID })
            </td>
        </tr>
}
    </tbody>
</table>
