@model IEnumerable<ASPNETAssignment.Models.StockRequestViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>

                @Html.DisplayNameFor(model => model.StockRequest.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockRequest.Product)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.StockRequest.Quantity)
            </th>
            <th>
                Owner Inventory Stock Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockRequest.StockRequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockRequest.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockRequest.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockRequest.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerInventory.StockLevel)
            </td>
            <td>
                <a asp-action="ProcessStockRequest" asp-route-id="@item.StockRequest.StockRequestID">Process Stock Request</a>
            </td>
        </tr>
}
    </tbody>
</table>
